@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<div class="content-full">
    <!-- PAGE-INNER -->
    <div class="page-inner">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h4 class="page-title">Dashboard</h4>
        </div>
        <!-- / PAGE-HEADER -->
        <div class="row">
            <div class="col-md-12">
                CONTENT
            </div>
        </div>
    </div>
    <!-- / PAGE-INNER -->

</div>
