@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.InvestmentPortfolio>
@using Velum.Web.Models
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var currencies = (Currency[]) ViewData["Currencies"];
}

<div class="content content-full">
    <div class="page-inner">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <h4 class="page-title">@Model.PageTitle</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Load currency rates</div>
                    </div>
                    <div class="form-group">
                        <label for="currencyList">Currency</label>
                        <select class="custom-select" id="currencyList">
                            @foreach (var currency in currencies)
                            {
                                <option value="@currency.Cur_ID">@currency.Cur_Abbreviation @currency.Cur_Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
